# Dependencies
node_modules

# Build output
.next
dist
build
out

# Coverage & reports
coverage

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Cache
.cache
.tmp

# Vercel
.vercel

# Git
.git
.gitignore

# Editor / OS
.vscode
.idea
.DS_Store
Thumbs.db
